.vehicleDetail {
  display: flex;
  justify-content: space-evenly;
}

.subTitle {
  display: flex;
  flex-direction: column;
}

span {
  color: teal;
  font-weight: bold;
}

.date {
  color: #cd853f;
}
